body {
	margin: 0%;
	padding: 0%;
}

.row {
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
}

p {
	font-size: 18px;
}

#headingRow {
	margin-top: 2%;
}

label {
	font-size: 18px;
}

.btn {
	color: black;
}

.resultsDiv {
	margin-top: 15px;
}

#btnHouse {
	margin-top: 2%;
	display: flex;
	justify-content: center;
}