body {
	margin: 0%;
	padding: 0%;
}

.row {
	text-align: center;
	border: 1px solid black;
}

p {
	font-size: 18px;
}

label {
	font-size: 18px;
}

.resultsDiv {
	margin-top: 15px;
}

#btnHouse {
	border: 1px solid black;
	display: inline-block;
}