body {
	margin: 0%;
	padding: 0%;
	background-image: url("http://res.cloudinary.com/learicist/image/upload/c_scale,w_928/v1586361101/Trilogy%7C2U/trilogy-logo.png");
	background-size: cover; 
}

.row {
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
}

p {
	font-size: 18px;
}

#headingRow {
	margin-top: 2%;
}

label {
	font-size: 18px;
}

.col-sm-4 {
	border: 1px solid black;
	display: flex;
	justify-content: center;
}

.btn {
	
}

.resultsDiv {
	margin-top: 15px;
}

#btnHouse {
	margin-top: 2%;
	display: flex;
	justify-content: center;
}